body {
    text-align: center;
    background: linear-gradient(#f97cc3 0%, #a6e728 100%);
    background-repeat: no-repeat;
    padding-top: 80px;
}

img {
    border-radius: 50%;
    width: 100px;
}

h1 {
    text-shadow: 2px 2px #833ab4;
    font-size: 20px;
}

#bio {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

.menu {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    z-index: 10;
    width: 100%;
    background: linear-gradient(#a74c8c 0%, #cd970e 100%);
}

#bio {
    background: linear-gradient(#754fff 0%, #f52cde 100%);
}

#fcl {
    background: linear-gradient(#f344ab 0%, #cd12e3 100%);
}

#projects {
    background: linear-gradient(#cd57aa 0%, #44ff15 100%);
}

#digital {
    background: linear-gradient(#ff345e 0%, #70c4de 100%);
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-size: 20px;
}

.links:hover {
    text-decoration: underline;
    font-size: 30px;
}

p {
    max-width: 450px;
    margin: 25px auto;
    line-height: 1.3;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #001a9e;
}

#founders {
    background: linear-gradient(#e6a6e9 0%, #cce7ae 100%);
}

.ceos {
    height: 200px;
    width: 200px;
    transition: transform .2s;
}

.ceos:hover {
    transform: scale(0.9);
}


#contacts {
    background: linear-gradient(#d8916a 0%, #f194d0 100%);
}

#contacts iframe {
    width: 100%;
}

.socialmedia h3 {
    display: inline;
}

.socialmedia a {
    color: white;
    text-shadow: none;
}
